#Temp Files LaTeX
*.aux
*.lof
*.bcf
*.log
*.lol
*.lot
*.out
*.xml
*.gz
*.toc
*.blg
*.bbl
*.bak
*.sav
*.tdo

#Vagrant temp files
Vagrant/\.vagrant/
Vagrant/\.sudo_as_admin_successful

*.docx

*.old\.tex

\.vscode/
