#Temp Files LaTeX
*.aux
*.lof
*.bcf
*.log
*.lol
*.lot
*.out
*.gz
*.toc
*.blg
*.bbl
*.bak
*.sav
*.tdo

#Vagrant temp files
Vagrant/\.vagrant/
Vagrant/\.sudo_as_admin_successful

*.docx

*.old\.tex

\.vscode/

TeX/_minted-thesis/

MicroserviceExample/backend/todos-backend/\.mvn/wrapper/maven-wrapper\.jar

*.properties

MicroserviceExample/backend/todos-backend/mvnw

MicroserviceExample/backend/todos-backend/mvnw\.cmd

*.class

*.iml

MicroserviceExample/backend/todos-backend/\.idea/

TeX/thesis\.run\.xml

MicroserviceExample/backend/\.mvn/wrapper/maven-wrapper\.jar

MicroserviceExample/backend/mvnw

MicroserviceExample/backend/mvnw\.cmd

MicroserviceExample/service/backend/\.idea/

MicroserviceExample/service/backend/\.mvn/wrapper/maven-wrapper\.jar

MicroserviceExample/service/backend/mvnw

MicroserviceExample/service/backend/mvnw\.cmd

MicroserviceExample/service/backend/out/

MicroserviceExample/service/backend/target/

MicroserviceExample/vm/\.vagrant/

MicroserviceExample/vm/tools/

MicroserviceExample/service/frontend/\.acbuild/
